<section class="min-h-screen flex flex-col justify-center items-center text-center px-4">
	<h1 class="text-4xl md:text-6xl font-bold mb-4">
		Hi, I'm Gilang Aditya Sumarna
	</h1>
	<p class="text-lg md:text-xl text-gray-400 mb-6">
		Undergraduate Informatic Student | Mobile App and Web Enthusiast 
	</p>
	<a href="#projects" class="bg-indigo-500 px-6 py-3 rounded-lg hover:bg-indigo-600 transition">
		View My Work
    </a>
</section>