<h2 class="text-3xl font-semibold text-center mb-10">Skills</h2>
<!-- TECHNICAL SKILLS -->
<h3 class="text-xl font-semibold mb-4 text-center text-gray-300">Technical Skills</h3>
<div class="grid md:grid-cols-2 gap-8 px-18 py-10">

    <div class="flex flex-col items-center bg-gray-800 p-6 border border-gray-700 rounded-xl shadow md:flex-row ">
        <img 
        class="object-cover w-full h-64 md:h-auto md:w-48 rounded-lg mb-4 md:mb-0" 
        src="/images/c.png" 
        alt=""
        >
        <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            C Programming Language
            </h5>
            <p class="mb-6 text-gray-400">
            Developed a game using Raylib, applying core programming concepts and strengthening 
            understanding of data structures and algorithms through practical implementation.
            </p>
        </div>

    </div>
    <div class="flex flex-col items-center bg-gray-800 p-6 border border-gray-700 rounded-xl shadow md:flex-row">
        <img 
        class="object-cover w-full h-64 md:h-auto md:w-48 rounded-lg mb-4 md:mb-0" 
        src="images/laravel.png" 
        alt=""
        >
        <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Laravel
            </h5>
            <p class="mb-6 text-gray-400">
            Built a web-based application using Laravel, integrated with Vue.js for the frontend and PostgreSQL as 
            the database to ensure efficient data management and interactive user experience.
            </p>
        </div>

    </div>
    <div class="flex flex-col items-center bg-gray-800 p-6 border border-gray-700 rounded-xl shadow md:flex-row">
        <img 
        class="object-cover w-full h-64 md:h-auto md:w-48 rounded-lg mb-4 md:mb-0" 
        src="/images/flutter.png" 
        alt=""
        >
        <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Flutter
            </h5>
            <p class="mb-6 text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>

    </div>
    <div class="flex flex-col items-center bg-gray-800 p-6 border border-gray-700 rounded-xl shadow md:flex-row">
        <img 
        class="object-cover w-full h-64 md:h-auto md:w-48 rounded-lg mb-4 md:mb-0" 
        src="/images/java.png" 
        alt=""
        >
        <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Java Programming Language
            </h5>
            <p class="mb-6 text-gray-400">
            Developed a Point of Sales (POS) system while applying design thinking principles and implementing software 
            design patterns such as Singleton to ensure maintainable and scalable architecture.
            </p>
        </div>

    </div>
</div>
