---
import '../styles/global.css';
const {title} = Astro.props
---
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
    </head>
    <body class="bg-black text-white">
        <slot />
    </body>
</html>